<html>
<head>
    <title>CSE486 App</title>
    <link rel="stylesheet" type="text/css" href="static/style.css"/>
</head>
<body>
<h1>Publisher's Page</h1>

<h2>Advertise price value topic of published games here! </h2>
<h3>Example: Inputting 5 means only games with a price below $5 will be shown as a topic! <br>
    *Note: Ignores non-integers</h3>

<label for="input">Input price: </label>
<input id="price" type="text" name="Price">
<button onclick="advertise()">Advertise</button>

<h2>Deadvertise price value topic of published games here! </h2>
<h3>Example: Inputting 5 means removing $5 as a topic if it is currently being advertised <br>
    *Note: Ignores non-integers</h3>

<label for="input">Input price: </label>
<input id="price2" type="text" name="Price">
<button onclick="deadvertise()">Deadvertise</button>

<br><br>
<h2>Currently advertised topic prices:</h2>
<div id ="data"></div>

<br><br>
<h2>Publish here!</h2>
<h3>Click on publish to automatically release a new game to the server. <br>
    The server will go through the advertised filters and notify all of those who are subscribed to the filter! </h3>
<button onclick="publish()">Publish!</button>

<br><br>
<h2>Last Published Game:</h2>
<div id ="data2"></div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();

    socket.on('connect', function() {

        // connect to publisher channel
        socket.emit('join', {"room": "publisher"});
    });

    socket.on('load', data =>{
        let displayed_data = document.getElementById("data");
        displayed_data.innerHTML = data.data;
    });

    socket.on('advertised', data =>{
        let displayed_data = document.getElementById("data");
        displayed_data.innerHTML = data.data;
    });

    socket.on('published', data =>{
        let displayed_data = document.getElementById("data2");
        displayed_data.innerHTML = "<b>Title: </b>" + data.data + " <b>Price: </b>" + data.price;
    });

    function advertise(){
        const value = parseInt(document.getElementById("price").value);
        if (Number.isInteger(value)){
            socket.emit('advertise', {"value": value});
        }
    }
    function deadvertise(){
        const value = parseInt(document.getElementById("price2").value);
        if (Number.isInteger(value)){
            socket.emit('deadvertise', {"value": value});
        }
    }
    function publish(){
        socket.emit('publish', {"value": "publish"});
    }
</script>
</body>
</html>